<!-- app/views/categories/show.html.erb -->

<div class="transactions-container">
<h1><%= @category.name %> Category</h1>

<div>
  <strong>Category Name:</strong>
  <%= @category.name %>
</div>

<!-- calculate total amount spent on this category -->
<div>
  <strong>Total Spent:</strong>
  $<%= @category.deals.sum(:amount) %>
</div>

<h2>Deals in this Category:</h2>

<% if @category.deals.any? %>
  <ul>
    <% @deals.each do |deal| %>
      <li class="transaction-card">
        <strong>Deal Name:</strong> <%= deal.name %><br>
        <strong>Deal Amount:</strong> <%= deal.amount %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No deals in this category.</p>
<% end %>

<!-- Add a new transaction button -->
<%= link_to 'add a new transaction', new_category_deal_path(@category) %>

<%= link_to 'Back to Home', root_path %>
</div>